h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: circle
}

ul li a {
  color: inherit;
}


header > img {
  width: 100px
}

body {
  font-family: "Arial, sans-serif"
  background-color: blue
}
